[Unit]
Description=SSH Host Certificate Renewer
After=network-online.target

[Service]
Type=oneshot

ExecStart=/opt/secrets/check-ssh-host-certificate-renew.sh
WorkingDirectory=/opt/secrets
User=root
